DATABASE_URL=""
DIRECT_URL=""

SUPABASE_URL=""
SUPABASE_ANON_KEY=""

NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

NEXTAUTH_URL=""
AUTH_TRUST_HOST=true
NEXT_AUTH_SECRET=""

REDIS_PORT=""
REDIS_HOST=""
REDIS_USERNAME=""
REDIS_PASSWORD=""

TZ="Asia/Riyadh"
NEXT_PUBLIC_APP_TZ="Asia/Riyadh"