@import "tailwindcss";
/* @import "primereact/resources/themes/lara-dark-cyan/theme.css"; */
@import "../prime-react-theme/lara-light-red/theme.css";
@import "primeicons/primeicons.css";

@import "../../public/assets/fontawesome/css/fontawesome.min.css";
/* Duotone */
@import "../../public/assets/fontawesome/css/duotone.min.css";
@import "../../public/assets/fontawesome/css/duotone-thin.min.css";
@import "../../public/assets/fontawesome/css/duotone-light.min.css";
@import "../../public/assets/fontawesome/css/duotone-regular.min.css";

/* Normal */
@import "../../public/assets/fontawesome/css/thin.min.css";
@import "../../public/assets/fontawesome/css/solid.min.css";
@import "../../public/assets/fontawesome/css/light.min.css";
@import "../../public/assets/fontawesome/css/regular.min.css";

/* Sharp Duotone */
@import "../../public/assets/fontawesome/css/sharp-duotone-thin.min.css";
@import "../../public/assets/fontawesome/css/sharp-duotone-solid.min.css";
@import "../../public/assets/fontawesome/css/sharp-duotone-light.min.css";
@import "../../public/assets/fontawesome/css/sharp-duotone-regular.min.css";

/* Sharp */
@import "../../public/assets/fontawesome/css/sharp-thin.min.css";
@import "../../public/assets/fontawesome/css/sharp-solid.min.css";
@import "../../public/assets/fontawesome/css/sharp-light.min.css";
@import "../../public/assets/fontawesome/css/sharp-regular.min.css";

:root {
  --background: #ffffff;
  --foreground: #323239;
}

@theme inline {
  --color-primary: var(--primary-color);
  --color-primary-50: var(--primary-50);
  --color-primary-light: #fae7e9;
  --color-primary-text: var(--primary-color-text);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary-white: #f4f7fb;
  --font-sans: var(--font-century-gothic);
  --color-text-gray: #98a4ae;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #29343d;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-century-gothic), Arial, Helvetica, sans-serif;
  font-weight: 600;
}

#password > div {
  width: 100% !important;
}

#password > div > .p-input-icon {
  margin-top: -0.75rem !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.custom-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
