@import "tailwindcss";
/* @import "primereact/resources/themes/lara-dark-cyan/theme.css"; */
@import "../prime-react-theme/lara-light-red/theme.css";
@import "primeicons/primeicons.css";

:root {
  --background: #ffffff;
  --foreground: #323239;
}

@theme inline {
  --color-primary: var(--primary-color);
  --color-primary-50: var(--primary-50);
  --color-primary-text: var(--primary-color-text);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary-white: #f8fafd;
  --font-sans: var(--font-century-gothic);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #323239;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-century-gothic), Arial, Helvetica, sans-serif;
  font-weight: 600;
}

#password > div {
  width: 100% !important;
}

#password > div > .p-input-icon {
  margin-top: -0.75rem !important;
}
